src/main/mule/company/company-to-account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="company-to-accountFlow" doc:id="9a760ca8-3e92-462d-b2d1-f3d7ef8bf473" >
		<http:listener doc:name="Listener" doc:id="4f14265d-fb1f-449f-9e66-94b30f307305" config-ref="HTTP_Listener_config" path="/company" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="41b61f45-cd34-4af2-946b-995df36e6e26" message="Company to Account Sync Started"/>
<http:request method="GET" doc:name="Request HS to get Company Details" doc:id="e98cf8fe-e25d-40c1-9f7c-23e400ca9147" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/company/{companyid}" target="companyDetails">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	companyid : payload
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Set ownerId" doc:id="5a50400e-12a9-4a69-8d8f-4f445fe22531" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ownerId" ><![CDATA[%dw 2.0
output application/json
---
vars.companyDetails.properties.hubspot_owner_id.value]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref to get-salesforce-ownerIdFlow" doc:id="f8fa9012-a6a1-49a0-ab78-820ec8384d02" name="get-salesforce-ownerIdFlow" target="ownerId"/>
		<!-- [STUDIO:"Request HS to get company details"]		<http:request method="POST" doc:name="Request HS to get company details" doc:id="83383db8-083a-4b6f-aa0b-c68276dfa2f8" config-ref="HTTP_Request_configuration_hubspot_sapi" target="companyDetails" path="/company/domain">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
&#45;&#45;-
{
  "requestOptions": {
    "properties": [
     "annualrevenue",
	"azure_revenue",
	"cmp_aws_revenue",
	"cmp_aws_services",
	"cmp_g_suite",
	"cmp_gcp_revenue",
	"cmp_google_cloud",
	"cmp_link_company",
	"cmp_microsoft_azure",
	"cmp_office_365",
	"consolidation_date",
	"country",
	"doit_parent_sales_region__c",
	"domain",
	"flexsave_gcp_marketplace",
	"hubspot_owner_id",
	"hubspot_state_region__c",
	"industry",
	"sfdc_lifecycle_stage__c",
	"marketing_right",
	"name",
	"numberofemployees",
	"o365_revenue",
	"phone",
	"sfdc_account_id",
	"sfdc_became_a_former_customer",
	"sfdc_segment",
	"sfdc_sub_region",
	"state",
	"sub_industry__c",
	"type",
	"website",
	"companyId"
    ]
  },
  "offset": {
    "isPrimary": true,
    "companyId": 0
  }
}]]]></http:body>
			<http:query-params ><![CDATA[#[output application/java
&#45;&#45;-
{
	domain : payload
}]]]></http:query-params>
		</http:request> [STUDIO] -->
		<ee:transform doc:name="Mapping" doc:id="7f2feb8f-62b3-4a91-9e9c-62b548e08b8f">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="mappedPayload" ><![CDATA[%dw 2.0
output application/json
var picklist = readUrl("classpath://picklist.json", "application/json")
---
[{
//	AnnualRevenue : vars.companyDetails.properties.annualrevenue.value,
//	Company_Domain__c :  vars.companyDetails.properties.domain.value,
	
	AnnualRevenue : vars.companyDetails.properties.annualrevenue.value as Number ,
	Azure_Revenue__c : vars.companyDetails.properties.azure_revenue.value ,
	AWS_Revenue__c : vars.companyDetails.properties.cmp_aws_revenue.value ,
	("AWS_Services__c": picklist.company.AWS_Services__c[(vars.companyDetails.properties.cmp_aws_services.value)])if(vars.companyDetails.properties.cmp_aws_services.value != null),
	("G_Suite__c": picklist.company.G_Suite__c[(vars.companyDetails.properties.cmp_g_suite.value)])if(vars.companyDetails.properties.cmp_g_suite.value != null),
	GCP_Revenue__c : vars.companyDetails.properties.cmp_gcp_revenue.value ,
	("Google_Cloud__c": picklist.company.Google_Cloud__c[(vars.companyDetails.properties.cmp_google_cloud.value)])if(vars.companyDetails.properties.cmp_google_cloud.value != null),
	CMP_Link_Company__c : vars.companyDetails.properties.cmp_link___company.value ,
	("Microsoft_Azure__c": picklist.company.Microsoft_Azure__c[(vars.companyDetails.properties.cmp_microsoft_azure.value)])if(vars.companyDetails.properties.cmp_microsoft_azure.value != null),
	("Office_365__c": picklist.company.Office_365__c[(vars.companyDetails.properties.cmp_office_365.value)])if(vars.companyDetails.properties.cmp_office_365.value != null),
//	(Consolidation_Date__c : vars.companyDetails.properties.consolidation_date.value as Number as DateTime {unit : "milliseconds"}) if(vars.companyDetails.properties.consolidation_date.value != null) ,
	Hubspot_Country__c : vars.companyDetails.properties.country.value ,
	DoiT_Parent_Sales_Region__c : vars.companyDetails.properties.doit_parent_sales_region__c.value ,
	Company_Domain__c : vars.companyDetails.properties.domain.value ,
	("Flexsave_GCP_Marketplace__c": picklist.company.Flexsave_GCP_Marketplace__c[(vars.companyDetails.properties.flexsave_gcp_marketplace.value)])if(vars.companyDetails.properties.flexsave_gcp_marketplace.value != null),
	OwnerId : vars.ownerId ,
	Hubspot_State_Region__c : vars.companyDetails.properties.hubspot_state_region__c.value ,
	Industry_Text__c : vars.companyDetails.properties.industry.value ,
	Lifecycle_Stage__c : vars.companyDetails.properties.lifecycle_stage__c.value ,
	("Marketing_Rights__c": picklist.company.Marketing_Rights__c[(vars.companyDetails.properties.marketing_right.value)])if(vars.companyDetails.properties.marketing_right.value != null),
	Name : vars.companyDetails.properties.name.value ,
	NumberOfEmployees : vars.companyDetails.properties.numberofemployees.value as Number ,
	O365_Revenue__c : vars.companyDetails.properties.o365_revenue.value ,
	Phone : vars.companyDetails.properties.phone.value ,
//	Id : vars.companyDetails.properties.sfdc_account_id.value ,
//	(Became_a_Former_Customer__c : vars.companyDetails.properties.sfdc_became_a_former_customer.value as Number as DateTime {unit : "milliseconds"}) if(vars.companyDetails.properties.sfdc_became_a_former_customer.value != null) ,
	Segment__c : vars.companyDetails.properties.sfdc_segment.value ,
//	Sub_Region__c : vars.companyDetails.properties.sfdc_sub_region.value ,
//	Hubspot_State_Region__c : vars.companyDetails.properties.state.value ,
//	Sub_Industry__c : vars.companyDetails.properties.sub_industry__c.value ,
//	Type : vars.companyDetails.properties.type.value ,
	Website : vars.companyDetails.properties.website.value ,
	Hubspot_Company_ID__c : vars.companyDetails.companyId
	
	 }]
	 ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="d0da3f90-6dc9-4c2c-84e6-d3071790aa61" >
			<when expression="#[vars.companyDetails.properties.sfdc_account_id.value != null]">
				<ee:transform doc:name="Set accountId" doc:id="b75b577e-af1f-4b05-b06a-711bd5f95695" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="accountId" ><![CDATA[%dw 2.0
output application/json
---
vars.companyDetails.properties.sfdc_account_id.value]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Flow Ref company-to-account-update-flow" doc:id="4e15852d-1830-454b-8f4c-ef0eae1ab16a" name="company-to-account-update-flow" />
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Ref to company-to-account-validation-flow" doc:id="1a614f68-b1c4-47cb-852a-8d4ebcf04675" name="company-to-account-validation-flow"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="company-to-account-validation-flow" doc:id="4cd3fe0a-3ab3-4a85-9093-d118c8da257e" >
		<http:request method="GET" doc:name="Request SF  to get accountID " doc:id="979016aa-655c-4491-91aa-d6dc98381a82" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery">
			<http:query-params><![CDATA[#[output application/java
---
{
	querytobeexecuted : "SELECT Id FROM Account WHERE Company_Domain__c = '" ++ vars.companyDetails.properties.domain.value ++ "'"
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="e14c51ac-6bf9-4ccb-8f33-76183db2fea0" >
			<when expression="#[sizeOf(payload) &gt; 1]">
				<logger level="INFO" doc:name="Logger" doc:id="e13bcdfe-eb0a-4717-959d-12ceb274c6e5" message="More than One Account Found with same Domain"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Set accountId" doc:id="26ec1346-fd61-4206-9047-1bfe1df4699f">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="accountId"><![CDATA[%dw 2.0
output application/json
---
payload.Id[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<choice doc:name="Choice" doc:id="e55180dd-d0a4-4ded-b7f5-565854fe71f5">
			<when expression="#[vars.accountId == null]">
				<flow-ref doc:name="Flow Ref to company-to-account-create-flow" doc:id="bfb2c6f4-4087-4f07-9bdc-88e8d5863e56" name="company-to-account-create-flow" />
			</when>
			<otherwise>
				<flow-ref doc:name="Flow Ref company-to-account-update-flow" doc:id="1c3b88ff-bdc5-46cb-9cb8-98b83f5890e7" name="company-to-account-update-flow" />
						<flow-ref doc:name="Flow Ref to company-to-account-sync-back-flow" doc:id="430d84dd-1ec3-4598-b520-412b2b177f30" name="company-to-account-sync-back-flow"/>
			</otherwise>
		</choice>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="company-to-account-create-flow" doc:id="27707292-8bec-490d-8759-d352b743f552" >
		<http:request method="POST" doc:name="Request SF to create account" doc:id="fc5e251f-9669-477d-809c-51cf5d3e3803" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/account/create">
			<http:body ><![CDATA[#[vars.mappedPayload]]]></http:body>
		</http:request>
		<ee:transform doc:name="Set accountId" doc:id="cfe22936-5522-4c03-bf1a-e9bbdf67ff6a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accountId" ><![CDATA[%dw 2.0
output application/json
---
payload.items.payload.id[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref to company-to-account-sync-back-flow" doc:id="3fecc31a-da50-41a8-8362-c62140c5a194" name="company-to-account-sync-back-flow" />
		<logger level="INFO" doc:name="Logger" doc:id="d436d40d-8bba-4d0f-9dd5-5d8e580f1144" message="Account Created and AccountId is #[vars.accountId]" />
		<ee:transform doc:name="Set accountId" doc:id="3d30a890-064c-49c8-b7f5-d81e3842fb0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.accountId]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="company-to-account-sync-back-flow" doc:id="5afd5435-6a75-4c10-a23a-7abae3971eba" >
		<ee:transform doc:name="Transform Message" doc:id="89fa45ff-d222-4e4e-b367-03ef4d366de3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="syncBackPayload" ><![CDATA[%dw 2.0
output application/json
---
{
  "properties": [
    {
      "name": "sfdc_account_id",
      "value": vars.accountId
    }
  ]  
  
  }  ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="9f12f8ab-d6e7-4593-838d-deac668a28cd" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/company/update">
			<http:query-params ><![CDATA[#[output application/java
---
{
	companyId : vars.companyDetails.companyId
}]]]></http:query-params>
		</http:request>
	</sub-flow>
	<sub-flow name="company-to-account-update-flow" doc:id="de095c33-fab9-4882-bae6-bc5389d566e7" >
		<ee:transform doc:name="Update mappedPayload" doc:id="68f95659-fc48-43ea-bb20-56e7dc46242e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="mappedPayload" ><![CDATA[%dw 2.0
output application/json
---
[(vars.mappedPayload[0] ++ {
    "Id": vars.accountId ,
})]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Request SF to update account" doc:id="61f7f5d4-ef49-4b26-918b-fa5a8b563a39" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/account/update" >
			<http:body ><![CDATA[#[vars.mappedPayload]]]></http:body>
		</http:request>
		<choice doc:name="Choice" doc:id="0c60840e-b10a-4100-91d0-569f20acf9f9" >
			<when expression="#[payload.successful == true]">
				<logger level="INFO" doc:name="Logger" doc:id="325c5c93-63fb-4cc6-99c7-3fa310ff72ea" message="Account Updated and AccountId is #[vars.accountId]" />
				<ee:transform doc:name="Set accountId" doc:id="4a7c8b52-9106-404d-b36d-364ad8749a77">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.accountId]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="bf6b06c0-121a-49b9-9bef-d843710c708d" message="#[error.description]"/>
			</otherwise>
		</choice>
	</sub-flow>
</mule>
