src/main/mule/contact-lead/contact.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="create-contact-in-sfdc" doc:id="216d18a1-b0fd-4db1-859a-76e8f3e95831" >
		<choice doc:name="is ownerId = Null ?" doc:id="b95c6a69-99c9-4eec-bce2-1309af5e4605" >
			<when expression="#[!isEmpty(vars.id.ownerId)]">
				<set-variable value="#[vars.id.ownerId]" doc:name="ownerId" doc:id="34c59484-725f-450e-9638-83c5592b75b7" variableName="ownerId"/>
				<flow-ref doc:name="Flow Ref to get-salesforce-ownerId-flow" doc:id="6dc06cc0-e787-43e1-8fb1-a734b9f7abe0" name="get-salesforce-ownerId-flow" target="hubspot_owner_id" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="ownerId is null" doc:id="b890d94c-2f6a-4e35-b714-563621fbabf3" message='#["ownerId is null"]'/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Contact Mapping" doc:id="8c2e4bc0-3337-4143-9a7d-248c70b1e1bf">
			<ee:message>
				<ee:set-payload resource="dwl/contact/msg-create-contact-mapping.dwl" />
			
</ee:message>
			<ee:variables>
				<ee:set-variable variableName="accountId"><![CDATA[%dw 2.0
output application/java
---
vars.accountId default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Create contact in salesforce" doc:id="f6fd8959-d3f9-437b-9a40-4212c89a76a8" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/contact/create" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" sendCorrelationId="ALWAYS"/>
<choice doc:name="If Successful ?" doc:id="72e7ecaa-c078-42b0-8ed7-5b4f2257e207" >
			<when expression="#[payload.successful]">
				<ee:transform doc:name="Successful Response" doc:id="637f1758-1030-42dc-bca0-658ae11f506e">
			<ee:message>
						<ee:set-payload resource="dwl/contact/msg-create-contact-sync-back.dwl" />
			
</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Contact Created" doc:id="6374ded6-7269-4947-a045-d87e538d05f2" message="Contact Created and ContactId is #[payload.sfdc_contact_id]" />
				<flow-ref doc:name="Flow Ref to salesforce-Ids-sync-backFlow" doc:id="6997a27b-4881-46d4-8979-8fcecc74d549" name="salesforce-Ids-sync-backFlow-old"/>
			
</when>
			<otherwise>
				<ee:transform doc:name="Failed Response" doc:id="f665dd26-8354-4b55-a6cf-81f8448b5da9" >
					<ee:message >
						<ee:set-payload resource="dwl/contact/msg-create-contact-error-message.dwl" />
					
</ee:message>
				</ee:transform>
				<logger level="ERROR" doc:name="Log error message" doc:id="578ac5cd-2772-4345-a44c-c911dae70998" message="#[payload]" />
			
</otherwise>
		</choice>
	</flow>
	<flow name="update-contact-in-sfdc" doc:id="1116eeb9-5b10-4c85-95c8-359a1d0da409" >
		<choice doc:name="is ownerId = Null ?" doc:id="8d93869b-6fab-4a62-a99a-5ff7ecd09343">
			<when expression="#[!isEmpty(payload.properties.hubspot_owner_id.value)]">
				<set-variable value="#[payload.properties.hubspot_owner_id.value]" doc:name="ownerId" doc:id="7eadcfcd-b65f-4fe5-ae40-404c9a319178" variableName="ownerId" />
				<flow-ref doc:name="Flow Ref to get-salesforce-ownerId-flow" doc:id="d554822e-54f8-4b85-80c1-a84ffd6a3ff4" name="get-salesforce-ownerId-flow" target="hubspot_owner_id" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="ownerId is null" doc:id="313136bd-8bf5-4bd1-937d-03a315fe9ed5" message='#["ownerId is null"]' />
			</otherwise>
		</choice>
		<ee:transform doc:name="Mappaing" doc:id="fbdcf5ef-80d1-40e8-87fc-000016eed8d3" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-update-contact-mapping.dwl" />
			
</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request SF to update company" doc:id="40eb3c84-a9da-4364-9990-63281c5f5a23" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/contact/update" responseTimeout="-1" sendCorrelationId="ALWAYS"/>
		<choice doc:name="If Successful ?" doc:id="b2957610-0718-4dc5-bcb1-019a5e086081" >
			<when expression="#[payload.successful]" >
				<ee:transform doc:name="Successful Response" doc:id="aba9b228-9814-4855-8c8c-47408230277f" >
					<ee:message >
						<ee:set-payload resource="dwl/contact/msg-update-contact-sync-back.dwl" />
					</ee:message>
					<ee:variables />
				</ee:transform>
				<logger level="INFO" doc:name="Log Contact Updated in SF" doc:id="050f78ee-965f-47eb-83ff-3e4d384184d4" message="Contact Updated in SF #[payload.sfdc_contact_id] " />
				<flow-ref doc:name="Flow Ref to salesforce-Ids-sync-backFlow" doc:id="c87e4956-8bc2-4513-be63-09114763a122" name="salesforce-Ids-sync-backFlow-old" />
			</when>
			<otherwise >
				<ee:transform doc:name="Failed Response" doc:id="90817a8b-864f-4aac-8b41-2e9808c5910d" >
					<ee:message >
						<ee:set-payload resource="dwl/contact/msg-update-contact-error-message.dwl" />
					</ee:message>
				</ee:transform>
				<logger level="ERROR" doc:name="Log error message" doc:id="8c5bacd3-6fe5-422b-aaed-7df14251a276" message="#[payload]" />
			</otherwise>
		</choice>
	</flow>
</mule>
