src/main/mule/contact-lead/contact-lead.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="contact-schedular-flow" doc:id="b92f4993-be0a-4751-83cb-08b56fa7a202">
		<scheduler doc:name="Scheduler every minute" doc:id="1dcde066-d2e2-49f8-b99b-3e9b317f65ce" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="MINUTES" frequency="30"/>
			</scheduling-strategy>
		</scheduler>
<!-- [STUDIO:"Clear objectstore"]		<os:clear doc:name="Clear objectstore" doc:id="3c81391b-1d2f-4250-b5bc-3087964071fb" objectStore="Object_store"/> [STUDIO] -->
		<os:retrieve doc:name="Retrieve minTime" doc:id="43df15fa-0338-451c-becc-47c4aea33f05" key="minTime" objectStore="Object_store" target="minTime">
			<os:default-value><![CDATA[#["1686261872865"]]]></os:default-value>
		</os:retrieve>
		<set-variable value='#[""]' doc:name="Set Variable timeOffset" doc:id="a99edfb1-e079-4e4f-9169-fb2f64761059" variableName="timeOffset"/>
		<flow-ref doc:name="Flow Ref to contact-leadSub_Flow" doc:id="15b1e537-e3ec-4b9d-9c9f-faedaa3ce75f" name="contact-lead-subflow"/>
	</flow>
	<sub-flow name="contact-lead-subflow" doc:id="4cd33c71-aa24-4204-8ce7-864ce278a82b" >
		<http:request method="GET" doc:name="Request to fetch all recentmodified contacts" doc:id="18d2b8d6-6b8c-49fb-a100-3a0a6c08944c" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/recentmodified" target="recentmodifiedContacts" responseTimeout="#[p('hubspot-sapi.responseTimeout')]">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"timeOffset" : vars.timeOffset,
	"count" : p('url.recentmodifiedcount') as String
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Aggregate vids" doc:id="6076405c-c309-4b6b-ab58-aadaf1c2bae9" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-aggregated-vids.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-recentmodifiedIds.dwl" variableName="recentmodifiedIds" />
				<ee:set-variable resource="dwl/contact/var-time-offset.dwl" variableName="timeOffset" />
				<ee:set-variable resource="dwl/contact/var-recentmodifiedTime.dwl" variableName="recentmodifiedTime" />
			</ee:variables>
		</ee:transform>
		<choice doc:name="Count(recentmodifiedIds) = count" doc:id="1f4d2d7e-0043-42ec-8630-a13b05260fcc" >
			<when expression="#[sizeOf(vars.recentmodifiedIds) != p('url.recentmodifiedcount') as Number]">
				<flow-ref doc:name="Flow Ref to contact-lead-flow" doc:id="4e6c2c75-b5fe-4909-974a-dfd58796922a" name="contact-lead-flow" target="contactLeadFlowResponse"/>
				
<!-- [STUDIO:"Choice"]				<choice doc:name="Choice" doc:id="15eaa9e0-56f1-432c-bdf5-838866bfea8d">
					<when expression="#[sizeOf(payload) &gt; 0]">
						<flow-ref doc:name="Flow Ref to form-task-flow" doc:id="5f546cf9-e21a-4ea2-8a96-1d96c8a365de" name="form-task-flow" />
					</when>
					<otherwise >
						<logger level="DEBUG" doc:name="Logger" doc:id="f8c20492-6ebe-4138-b001-8ca3479b4a14" message="No Updates"/>
					</otherwise>
				</choice> [STUDIO] -->
				
				<scatter-gather doc:name="Scatter-Gather" doc:id="59275f9a-3e44-44a3-ac51-d39213ba8433" >
					<route>
						<try doc:name="Try" doc:id="c8262ad1-a0c0-4bd5-a69a-c6d0cdc8b92e" >
							<flow-ref doc:name="Flow Ref to form-task-flow" doc:id="37e0a6c5-5dc5-4831-9db6-2a075dd9c537" name="form-task-flow" />
						</try>
					</route>
					<route>
						<try doc:name="Try" doc:id="e7c4a1d0-2ef6-4d1c-99af-373bbf904de6" >
							<flow-ref doc:name="Flow Ref to campaign-sync-flow" doc:id="2c5dabb8-d115-437b-9470-ed503ce8ce58" name="campaign-sync-flow" />
						</try>
					</route>
				</scatter-gather>
				<os:store doc:name="Store minTime" doc:id="ae422d57-4f61-466c-8512-c3c27397de0e" key="minTime" objectStore="Object_store">
					<os:value><![CDATA[#[vars.recentmodifiedTime]]]></os:value>
				</os:store>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Ref to contact-leadSub_Flow" doc:id="270d00e9-07a3-431f-b34b-f10e35b18935" name="contact-lead-subflow"/>
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="contact-lead-flow" doc:id="b25100c3-a02c-4092-abde-43eabded5e9b" >
		<ee:transform doc:name="Inbound Payload" doc:id="2d596e54-6e42-40fe-b6da-92cad60e628f" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-contact-lead-inbound-payload.dwl" />
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="get aggregated contacts by vid" doc:id="bfa0fe04-abd6-4c93-abb1-97134a3239be" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/aggregated" responseTimeout="600000" targetValue="#[payload default []]"/>
		<ee:transform doc:name="Set Response Payload" doc:id="ba432a63-5554-4807-bedf-f857b3f91576" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-aggregated-contact-response.dwl" />
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each contact" doc:id="c7ca4907-ff2f-4aeb-9b63-6f30d6cc4565" maxConcurrency="${parallelForEach.contact-lead.maxConcurrency}">
			<choice doc:name="lead update, contact update or contact-lead-check" doc:id="b0cc60d6-f977-4de0-ad43-912eed6c0271" >
				<when expression="#[!isEmpty(payload.properties.sfdc_lead_id.value)]" >
					<logger level="INFO" doc:name="Update lead" doc:id="3bf380c2-8f20-4fe4-b828-8fe287bfe56c" message="Update lead" />
					<set-variable value='#[payload.properties.sfdc_account_id.value]' doc:name="accountId" doc:id="043c1d9d-d723-45cb-bde3-9ddc8f4c8db5" variableName="accountId"/>
					<set-variable value="#[payload.vid]" doc:name="Set Variable vid" doc:id="f8f56902-891c-4247-bd2f-1f6459bd313e" variableName="vid"/>
					<flow-ref doc:name="Flow Ref to update lead in sfdc" doc:id="6349ac28-7e57-410d-bbb5-4228dfb578ef" name="update-lead-in-sfdc"/>
				</when>
				<when expression="#[!isEmpty(payload.properties.sfdc_contact_id.value)]" >
					<logger level="INFO" doc:name="Update contact" doc:id="1afd95c8-9c7b-491d-8fab-e06a4764bfdb" message="Update contact" />
					<set-variable value='#[payload.properties.sfdc_account_id.value default ""]' doc:name="accountId" doc:id="3a0a872e-6f25-439e-a520-524b7a1d9489" variableName="accountId"/>
					<set-variable value="#[payload.vid]" doc:name="Set Variable vid" doc:id="38de5c5e-da84-4aba-9d16-9ca7919a616e" variableName="vid"/>
					<flow-ref doc:name="Flow Ref to update contact in sfdc" doc:id="7d2cdb34-71d5-4019-8497-cf1d78806da1" name="update-contact-in-sfdc"/>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="contact-lead checks" doc:id="bd97fdac-c217-4b8f-8eb7-d1269e1de457" message='#["contact-lead checks"]' />
					<flow-ref doc:name="Flow Ref to contact lead validation flow" doc:id="2fa490ff-a0f5-4f0d-a029-14aaff26806e" name="contact-lead-sync-validations" />
				</otherwise>
			</choice>
		</parallel-foreach>
		<ee:transform doc:name="Final Response" doc:id="417a892a-1898-4bab-b364-cf35d314979a" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-final-response.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="contact-lead-sync-validations" doc:id="8612e3af-4c08-431b-af89-48834e5fce94" >
		<ee:transform doc:name="Set Ids" doc:id="c8b4231c-43f1-4f12-83da-657029239fe7" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-contact-lead-sync-validation-payload.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-Ids.dwl" variableName="id" />
			</ee:variables>
		</ee:transform>
		<choice doc:name="Is associatedcompanyid = null ?" doc:id="ca57c5c1-9fdc-4087-9de9-adf834ceeb8e" >
			<when expression="#[!isEmpty(vars.id.associatedcompanyid)]" >
				<http:request method="GET" doc:name="Request HS to get Company Details" doc:id="7d063b55-4d1a-4e78-98c6-65e53ae98783" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/company/{companyid}" target="companyDetails">
					<http:uri-params><![CDATA[#[output application/java
---
{
	companyid : vars.id.associatedcompanyid as String
}]]]></http:uri-params>
				</http:request>
				<ee:transform doc:name="set domain" doc:id="d780b3a8-e84d-41af-a4da-c1f70972fde2" >
					<ee:message />
					<ee:variables >
						<ee:set-variable resource="dwl/contact/var-contact-lead-sync-validation-domain.dwl" variableName="domain" />
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Flow Ref to capture sf accountid Flow" doc:id="512d388d-1107-4e98-9411-d13c7fd61511" name="capture-sf-accountidFlow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Ref to freemail domain check" doc:id="40b7e5c6-2624-40c4-8b03-a5dc24ecb4e3" name="freemail-domain-check"/>
			</otherwise>
		</choice>
		<choice doc:name="is accountId = Null" doc:id="1537052b-57b4-4f7d-b905-6abfcdb92299" >
			<when expression="#[!isEmpty(vars.accountId)]">
				<flow-ref doc:name="Flow Ref to validate contact in salesforceFlow" doc:id="e27f94b2-2562-4a8b-8ecd-f3c16665301c" name="validate-contact-in-salesforceFlow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="9b017781-4030-4547-8737-b50088f01b2a" message='#["No associated account found"]'/>
				<set-payload value='#["Account to be created"]' doc:name="Set Payload" doc:id="c98cdd58-8f36-4880-9b24-67878ca99105" />
			</otherwise>
		</choice>
	</flow>
	<flow name="validate-contact-in-salesforceFlow" doc:id="fd3d2342-dd2d-4292-9f86-5614e8a2ac69" >
		<ee:transform doc:name="Set querytobeexecuted" doc:id="02a4d31f-b8b2-40b5-b476-7b91611a773f" >
			<ee:message />
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-querytobeexecuted-validate-contact-in-sf.dwl" variableName="querytobeexecuted" />
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get SF contact" doc:id="17681e5d-1e90-481f-93b8-007b9fe8c066" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" target="contactId" responseTimeout="#[p('salesforce-sapi.responseTimeout')]">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
		</http:request>
		<choice doc:name="is contactId = Null" doc:id="e11b9233-9dd0-4aa4-b0ea-27a7627ce07e" >
			<when expression="#[!isEmpty(vars.contactId)]" >
				<logger level="INFO" doc:name="update contact" doc:id="e0ac8cf7-7da6-4451-9a5c-314cc6382643" message="update contact" />
				<choice doc:name="if sizeOf(contactId) == 1" doc:id="3688e20d-2474-4a2e-9263-b4c26700c9f0">
			<when expression="#[sizeOf(vars.contactId.Id) == 1]">
						<set-variable value="#[vars.contactId.Id[0]]" doc:name="contactId" doc:id="9bdd2f86-0fa0-48aa-9947-ab4873f2b7a5" variableName="contactId"/>
			</when>
					<otherwise >
						<flow-ref doc:name="Flow Ref to choose a contact from more than one sf contacts" doc:id="e7e134a8-e63b-4e35-bb9e-828c8abc2604" name="choose-a-contact-from-more-than-one-sf-contacts"/>
					</otherwise>
		</choice>
				<flow-ref doc:name="Flow Ref to update contact in sfdc" doc:id="3c137d08-0e36-4996-8e7a-f6644e73c27c" name="update-contact-in-sfdc"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="create contact" doc:id="1230c8f7-6285-47c5-80b2-a4e1770bbac3" message="create contact" />
				<flow-ref doc:name="Flow Ref to contact/lead creation checks flow" doc:id="d2a2ea5e-7e4b-41ac-9709-094c0b296651" name="contact-lead-creation-checks" />
			</otherwise>
		</choice>
	</flow>
	<flow name="capture-sf-accountidFlow" doc:id="2a3f2a56-0d19-4df4-bfc5-21bff9ce37c1" >
		<ee:transform doc:name="Set querytobeexecuted" doc:id="e0358654-16a8-441d-ba21-87fb63d45b80" >
			<ee:message />
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-querytobeexecuted-capture-sf-accountid.dwl" variableName="querytobeexecuted" />
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get SF associated Accounts" doc:id="85d87687-9234-4906-a60b-a5d84d029596" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" target="accountId" responseTimeout="#[p('salesforce-sapi.responseTimeout')]">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
		</http:request>
		<choice doc:name="accountId" doc:id="212504ad-f81d-4a80-a3d2-d70c534031cb" >
			<when expression="#[sizeOf(vars.accountId) == 0]" >
				<logger level="INFO" doc:name="Create Account" doc:id="0fd190f7-b357-4d9e-9ab8-b90d5ab330e4" message='#["Create Account"]' />
				<flow-ref doc:name="Flow Ref to Create Account in Salesforce " doc:id="0ea00a67-666b-4e84-be3a-0d12357760d4" name="create-account-contact-leadFlow" target="accountId"/>
			</when>
			<when expression="#[sizeOf(vars.accountId) == 1]" >
				<set-variable value="#[vars.accountId.Id[0]]" doc:name="accountId" doc:id="2b5634fd-2e9b-4d3b-ba45-5b26c07da37c" variableName="accountId" />
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Ref to choose a account from more than one sf accounts" doc:id="e7045b99-c242-48ce-8d77-f42f07572a7a" name="choose-a-account-from-more-than-one-sf-accounts"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="freemail-domain-check" doc:id="830bf2c4-9d8e-4717-bcaf-cedca864b56f" >
		<ee:transform doc:name="freemails" doc:id="cd2c3fa7-a63d-4bba-a381-057b07f889a9" >
			<ee:message />
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-freemail.dwl" variableName="freemails" />
			</ee:variables>
		</ee:transform>
		<choice doc:name="if freemail != Null" doc:id="77d8996b-e905-4274-867c-880fc816449a" >
			<when expression="#[vars.freemails]" >
				<ee:transform doc:name="Set querytobeexecuted" doc:id="0952a799-4fdb-4bb5-afae-011fd95620a5">
					<ee:message />
					<ee:variables>
						<ee:set-variable resource="dwl/contact/var-querytobeexecuted-freemail.dwl" variableName="querytobeexecuted" />
					</ee:variables>
				</ee:transform>
				<http:request method="GET" doc:name="Get Partner Account Id" doc:id="63febd8b-a44c-412e-af28-f0ffdaa93a55" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" target="accountId" targetValue="#[payload.Id[0]]">
					<http:query-params><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
				</http:request>
			</when>
			<otherwise >
				<logger level="DEBUG" doc:name="Logger" doc:id="38a2fd02-f729-4b71-84ca-1f5ac26447f7" message='#["No Freemails not found"]'/>
			</otherwise>
		</choice>
	</flow>
	<flow name="contact-lead-creation-checks" doc:id="1d58302f-afbe-4da1-b9fa-ad9cbbcc6e30" >
		<ee:transform doc:name="lifecyclestage" doc:id="b8a6814e-c7cf-41a6-81ad-7d3721b3ee24" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-company-lifecyclestage.dwl" variableName="lifecyclestage" />
			</ee:variables>
		</ee:transform>
		<choice doc:name="lifecyclestage == 'customer'" doc:id="d375491c-528b-4083-bd19-b1fc21b4ad55" >
			<when expression="#[(vars.lifecyclestage == 'customer')]" >
				<flow-ref doc:name="Flow Ref to create contact in sfdc " doc:id="4ef73af9-9f2f-4118-b8a1-b8049048955e" name="create-contact-in-sfdc" />
			</when>
			<otherwise >
				<ee:transform doc:name="SFDCtype" doc:id="2d791f70-20f9-4612-9e25-3c13b73ef7d5" >
					<ee:message />
					<ee:variables >
						<ee:set-variable resource="dwl/contact/var-company-sfdc-type.dwl" variableName="SFDCtype" />
					</ee:variables>
				</ee:transform>
				<choice doc:name="SFDCtype == 'Customer' or 'Former Customer'" doc:id="9a06491c-f592-4a0b-8e2d-39b02927fb47" >
					<when expression="#[vars.SFDCtype == 'Customer' or vars.SFDCtype == 'Former Customer']" >
						<flow-ref doc:name="Flow Ref to create contact in sfdc " doc:id="27b49045-100e-47fb-9566-91c3f6e2bea1" name="create-contact-in-sfdc" />
					</when>
					<otherwise >
						<ee:transform doc:name="leadsource" doc:id="d972d931-564c-4166-84d5-e1dff6ff2d18" >
							<ee:message />
							<ee:variables >
								<ee:set-variable resource="dwl/contact/var-company-leadsource.dwl" variableName="leadsource" />
							</ee:variables>
						</ee:transform>
						<choice doc:name="leadsource == 'CMP'" doc:id="261dfccf-c784-4b50-b045-b3a6e0e4e499" >
							<when expression="#[vars.leadsource == 'CMP']" >
								<flow-ref doc:name="Flow Ref to create contact in sfdc" doc:id="92e979d4-224b-4e7c-980d-45678cffb962" name="create-contact-in-sfdc" />
							</when>
							<otherwise >
								<flow-ref doc:name="Flow Ref to create lead in sfdc " doc:id="0e9b6d86-0515-4f7e-8cc6-6481a545a7c8" name="create-lead-in-sfdc" />
							</otherwise>
						</choice>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
	</flow>
	<flow name="salesforce-Ids-sync-backFlow-old" doc:id="818666d8-4872-4a78-96f4-cde7e64b5448" >
		<ee:transform doc:name="Set HS expected Payload" doc:id="202c0379-2c49-49da-b3f2-fd65043ca7b1" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-hs-expected-payload.dwl" />
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="f9a1d5f8-91b8-4422-929d-4ceb3babcc16" url='#["https://api.hubapi.com/contacts/v1/contact/vid/" ++ (vars.id.vid default vars.vid) as String ++ "/profile"]' target="hubspotResponse" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer pat-na1-9b2d3e73-5a06-41a7-acf9-28afb4e45d8d"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Set Response Payload" doc:id="42564f1b-28fc-417e-a12a-52f132769fe2" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-sync-back-response-payload.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="choose-a-contact-from-more-than-one-sf-contacts" doc:id="3df7fe47-384c-424c-b251-ae2835c89e30" >
		<ee:transform doc:name="Set querytobeexecuted" doc:id="595c28a1-2209-4599-8532-12a650f32892" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-querytobeexecuted-choose-a-contact-from-more-than-one.dwl" variableName="querytobeexecuted" />
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get SF contact details" doc:id="42ea41b5-8058-4c47-a656-4456c0125e3f" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" target="contactId">
			<http:query-params><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Set contactId" doc:id="f43c4e7c-8920-4c01-b98c-718a280acfc8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-contactId-choose-a-contact-from-more-than-one.dwl" variableName="contactId" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log contactId" doc:id="71750e04-e963-43d7-9911-4dfc3b6c7bab" message="#[vars.contactId]"/>
	</sub-flow>
	<sub-flow name="choose-a-account-from-more-than-one-sf-accounts" doc:id="ee148006-f68b-4162-b130-49232832903f" >
		<ee:transform doc:name="Set querytobeexecuted" doc:id="5d3a3a1c-6d60-465a-805e-539e8ef23829" >
			<ee:message />
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-querytobeexecuted-choose-a-account-from-more-than-one.dwl" variableName="querytobeexecuted" />
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get SF associated Account details" doc:id="7016b40c-ceb4-4b0e-afb4-6b391dd278b9" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" target="accountId" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Set accountId" doc:id="58cdcaab-8e0e-421d-8fda-9349948137a1" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/contact/var-accountId-choose-a-account-from-more-than-one.dwl" variableName="accountId" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log accountId" doc:id="8a537ead-91e7-4295-86c3-7da030913b4a" message="#[vars.accountId]"/>
	</sub-flow>
	<flow name="create-account-contact-leadFlow" doc:id="f6cca89a-5b44-409a-8ecc-9cc5ef89196f" >
		<ee:transform doc:name="Set CompanyId" doc:id="2fadbe13-ba7e-4a46-aa7f-14a205106102" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-associatedcompanyid-create-account-flow.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Ref to created-company-syncFlow" doc:id="9ccf88ec-391c-46b4-be7e-304b001254fb" name="created-company-sync-flow"/>
	</flow>
</mule>
