src/main/mule/contact-lead/contact-lead.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="contact-schedularFlow" doc:id="b92f4993-be0a-4751-83cb-08b56fa7a202">
		<scheduler doc:name="Scheduler" doc:id="1dcde066-d2e2-49f8-b99b-3e9b317f65ce" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<os:clear doc:name="Clear objectstore" doc:id="3c81391b-1d2f-4250-b5bc-3087964071fb" objectStore="Object_store"/>
		<os:retrieve doc:name="Retrieve minTime" doc:id="43df15fa-0338-451c-becc-47c4aea33f05" key="minTime" objectStore="Object_store" target="minTime">
			<os:default-value><![CDATA[#["1685001414195"]]]></os:default-value>
		</os:retrieve>
		<set-variable value='#[""]' doc:name="Set Variable timeOffset" doc:id="a99edfb1-e079-4e4f-9169-fb2f64761059" variableName="timeOffset"/>
		<flow-ref doc:name="Flow Ref to contact-leadSub_Flow" doc:id="15b1e537-e3ec-4b9d-9c9f-faedaa3ce75f" name="contact-leadSub_Flow"/>
	</flow>
	<sub-flow name="contact-leadSub_Flow" doc:id="4cd33c71-aa24-4204-8ce7-864ce278a82b" >
		<http:request method="GET" doc:name="Request to fetch all recentmodified contacts" doc:id="18d2b8d6-6b8c-49fb-a100-3a0a6c08944c" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/recentmodified" target="recentmodifiedContacts" responseTimeout="#[p('hubspot-sapi.responseTimeout')]">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"timeOffset" : vars.timeOffset,
	"count" : p('url.recentmodifiedcount') as String
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="6076405c-c309-4b6b-ab58-aadaf1c2bae9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload default [] ++ ((vars.recentmodifiedContacts.contacts filter ((item, index) -> item.addedAt as Number > vars.minTime as Number)).vid default [])]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="recentmodifiedTime" ><![CDATA[%dw 2.0
output application/json
---
max([max(vars.recentmodifiedContacts.contacts.addedAt), vars.recentmodifiedTime default 0]) default ""]]></ee:set-variable>
				<ee:set-variable variableName="timeOffset" ><![CDATA[%dw 2.0
output application/json
---
vars.recentmodifiedContacts."time-offset"]]></ee:set-variable>
				<ee:set-variable variableName="recentmodifiedIds" ><![CDATA[%dw 2.0
output application/json
---
(vars.recentmodifiedContacts.contacts filter ((item, index) -> item.addedAt as Number > vars.minTime as Number)).vid]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="1f4d2d7e-0043-42ec-8630-a13b05260fcc" >
			<when expression="#[sizeOf(vars.recentmodifiedIds) != p('url.recentmodifiedcount') as Number]">
				<flow-ref doc:name="Flow Ref to contact-leadFlow" doc:id="4e6c2c75-b5fe-4909-974a-dfd58796922a" name="contact-leadFlow"/>
				<os:store doc:name="Store minTime" doc:id="ae422d57-4f61-466c-8512-c3c27397de0e" key="minTime" objectStore="Object_store">
					<os:value><![CDATA[#[vars.recentmodifiedTime]]]></os:value>
				</os:store>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Ref to contact-leadSub_Flow" doc:id="270d00e9-07a3-431f-b34b-f10e35b18935" name="contact-leadSub_Flow"/>
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="contact-leadFlow" doc:id="b25100c3-a02c-4092-abde-43eabded5e9b" >
		<http:listener doc:name="Listener" doc:id="289f7ff5-babe-4105-b07f-508e8072a4bf" config-ref="HTTP_Listener_config" path="/contact1" />
		<ee:transform doc:name="Transform Message" doc:id="2d596e54-6e42-40fe-b6da-92cad60e628f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Arrays
---
//slice(payload, 13, 14) default []
//[6374]
payload default []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="get aggregated contacts by vid" doc:id="bfa0fe04-abd6-4c93-abb1-97134a3239be" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/aggregated" responseTimeout="600000" targetValue="#[payload default []]"/>
		<ee:transform doc:name="Transform Message" doc:id="ba432a63-5554-4807-bedf-f857b3f91576" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload default []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="c7ca4907-ff2f-4aeb-9b63-6f30d6cc4565" maxConcurrency="${parallelForEach.contact-lead.maxConcurrency}">
			<choice doc:name="Choice" doc:id="b0cc60d6-f977-4de0-ad43-912eed6c0271" >
				<when expression="#[!isEmpty(payload.properties.sfdc_lead_id.value)]" >
					<logger level="INFO" doc:name="Update lead" doc:id="3bf380c2-8f20-4fe4-b828-8fe287bfe56c" message="Update lead" />
					<flow-ref doc:name="Flow Ref to update lead in sfdc" doc:id="6349ac28-7e57-410d-bbb5-4228dfb578ef" name="update-lead-in-sfdc"/>
				</when>
				<when expression="#[!isEmpty(payload.properties.sfdc_contact_id.value)]" >
					<logger level="INFO" doc:name="Update contact" doc:id="1afd95c8-9c7b-491d-8fab-e06a4764bfdb" message="Update contact" />
					<flow-ref doc:name="Flow Ref to update contact in sfdc" doc:id="7d2cdb34-71d5-4019-8497-cf1d78806da1" name="update-contact-in-sfdc"/>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="contact-lead checks" doc:id="bd97fdac-c217-4b8f-8eb7-d1269e1de457" message='#["contact-lead checks"]' />
					<flow-ref doc:name="Flow Ref to contact lead validation flow" doc:id="2fa490ff-a0f5-4f0d-a029-14aaff26806e" name="contact-lead-sync-validations" />
				</otherwise>
			</choice>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message" doc:id="417a892a-1898-4bab-b364-cf35d314979a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload..payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="contact-lead-sync-validations" doc:id="8612e3af-4c08-431b-af89-48834e5fce94" >
		<ee:transform doc:name="associatedcompanyid" doc:id="c8b4231c-43f1-4f12-83da-657029239fe7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/json
---
{
	"vid": payload.vid,
	"ownerId": payload.properties.hubspot_owner_id.value,
	"associatedcompanyid": payload.properties.associatedcompanyid.value,
	"email": payload.properties.email.value,
//	"emailDomain": payload.properties.hs_email_domain.value default "",
	"emailDomain": "zuvio.com"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="ca57c5c1-9fdc-4087-9de9-adf834ceeb8e" >
			<when expression="#[!isEmpty(vars.id.associatedcompanyid)]" >
				<http:request method="GET" doc:name="fetch HS comapny" doc:id="b3e5edbd-8640-4fc7-940a-5a1adfe08ae2" url='#["https://api.hubapi.com/companies/v2/companies/" ++ vars.id.associatedcompanyid as String]' target="companyDetails" responseTimeout="#[p('hubspot-sapi.responseTimeout')]">
					<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer pat-na1-9b2d3e73-5a06-41a7-acf9-28afb4e45d8d"
}]]]></http:headers>
				</http:request>
				<ee:transform doc:name="set domain" doc:id="d780b3a8-e84d-41af-a4da-c1f70972fde2" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="domain" ><![CDATA[%dw 2.0
output application/json
---
vars.companyDetails.properties.domain.value]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Flow Ref to capture sf accountid Flow" doc:id="512d388d-1107-4e98-9411-d13c7fd61511" name="capture-sf-accountidFlow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Ref to freemail domain check" doc:id="40b7e5c6-2624-40c4-8b03-a5dc24ecb4e3" name="freemail-domain-check"/>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="1537052b-57b4-4f7d-b905-6abfcdb92299" >
			<when expression="#[!isEmpty(vars.accountId)]">
				<flow-ref doc:name="Flow Ref to validate contact in salesforceFlow" doc:id="e27f94b2-2562-4a8b-8ecd-f3c16665301c" name="validate-contact-in-salesforceFlow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="9b017781-4030-4547-8737-b50088f01b2a" message='#["No associated account found"]'/>
				<set-payload value='#["Account to be created"]' doc:name="Set Payload" doc:id="c98cdd58-8f36-4880-9b24-67878ca99105" />
			</otherwise>
		</choice>
	</flow>
	<flow name="validate-contact-in-salesforceFlow" doc:id="fd3d2342-dd2d-4292-9f86-5614e8a2ac69" >
		<ee:transform doc:name="Set querytobeexecuted" doc:id="02a4d31f-b8b2-40b5-b476-7b91611a773f" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="querytobeexecuted" ><![CDATA[%dw 2.0
output application/json
---
"Select Id from Contact where Email = '" ++ vars.id.email as String ++ "'"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get SF contact" doc:id="17681e5d-1e90-481f-93b8-007b9fe8c066" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" target="contactId" responseTimeout="#[p('salesforce-sapi.responseTimeout')]">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="e11b9233-9dd0-4aa4-b0ea-27a7627ce07e" >
			<when expression="#[!isEmpty(vars.contactId)]" >
				<logger level="INFO" doc:name="update contact" doc:id="e0ac8cf7-7da6-4451-9a5c-314cc6382643" message="update contact" />
				<choice doc:name="Choice" doc:id="3688e20d-2474-4a2e-9263-b4c26700c9f0">
			<when expression="#[sizeOf(vars.contactId.Id) == 1]">
						<set-variable value="#[vars.contactId.Id[0]]" doc:name="contactId" doc:id="9bdd2f86-0fa0-48aa-9947-ab4873f2b7a5" variableName="contactId"/>
			</when>
					<otherwise >
						<flow-ref doc:name="Flow Ref to choose a contact from more than one sf contacts" doc:id="e7e134a8-e63b-4e35-bb9e-828c8abc2604" name="choose-a-contact-from-more-than-one-sf-contacts"/>
					</otherwise>
		</choice>
				<flow-ref doc:name="Flow Ref to update contact in sfdc" doc:id="3c137d08-0e36-4996-8e7a-f6644e73c27c" name="update-contact-in-sfdc"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="create contact" doc:id="1230c8f7-6285-47c5-80b2-a4e1770bbac3" message="create contact" />
				<flow-ref doc:name="Flow Ref to contact/lead creation checks flow" doc:id="d2a2ea5e-7e4b-41ac-9709-094c0b296651" name="contact-lead-creation-checks" />
			</otherwise>
		</choice>
	</flow>
	<flow name="capture-sf-accountidFlow" doc:id="2a3f2a56-0d19-4df4-bfc5-21bff9ce37c1" >
		<ee:transform doc:name="Set querytobeexecuted" doc:id="e0358654-16a8-441d-ba21-87fb63d45b80" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="querytobeexecuted" ><![CDATA[%dw 2.0
output application/json
---
"Select Id from Account where Company_Domain__c = '" ++ vars.domain as String ++ "'" ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get SF associated Accounts" doc:id="85d87687-9234-4906-a60b-a5d84d029596" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" target="accountId" responseTimeout="#[p('salesforce-sapi.responseTimeout')]">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="212504ad-f81d-4a80-a3d2-d70c534031cb" >
			<when expression="#[sizeOf(vars.accountId) == 0]" >
				<logger level="INFO" doc:name="Create Account" doc:id="0fd190f7-b357-4d9e-9ab8-b90d5ab330e4" message='#["Create Account"]' />
				<flow-ref doc:name="Flow Ref to Create Account in Salesforce " doc:id="0ea00a67-666b-4e84-be3a-0d12357760d4" name="create-account-contact-leadFlow" target="accountId"/>
			</when>
			<when expression="#[sizeOf(vars.accountId) == 1]" >
				<set-variable value="#[vars.accountId.Id[0]]" doc:name="accountId" doc:id="2b5634fd-2e9b-4d3b-ba45-5b26c07da37c" variableName="accountId" />
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Ref to choose a account from more than one sf accounts" doc:id="e7045b99-c242-48ce-8d77-f42f07572a7a" name="choose-a-account-from-more-than-one-sf-accounts"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="freemail-domain-check" doc:id="830bf2c4-9d8e-4717-bcaf-cedca864b56f" >
		<ee:transform doc:name="freemails" doc:id="cd2c3fa7-a63d-4bba-a381-057b07f889a9" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="freemails" ><![CDATA[%dw 2.0
output application/java
var freemails = readUrl("classpath://freemail.json", "application/json")
---
freemails contains vars.id.emailDomain]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="77d8996b-e905-4274-867c-880fc816449a" >
			<when expression="#[vars.freemails]" >
				<ee:transform doc:name="Set querytobeexecuted" doc:id="0952a799-4fdb-4bb5-afae-011fd95620a5">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="querytobeexecuted"><![CDATA[%dw 2.0
output application/json
---
"SELECT Id FROM Account WHERE Company_Domain__c = '" ++ vars.id.emailDomain as String ++ "' AND RecordTypeId = '" ++ p('salesforce.freemaildomain.record-typeid') as String ++ "'"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<http:request method="GET" doc:name="Get Partner Account Id" doc:id="63febd8b-a44c-412e-af28-f0ffdaa93a55" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" target="accountId" targetValue="#[payload.Id[0]]">
					<http:query-params><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
				</http:request>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="38a2fd02-f729-4b71-84ca-1f5ac26447f7" />
			</otherwise>
		</choice>
	</flow>
	<flow name="contact-lead-creation-checks" doc:id="1d58302f-afbe-4da1-b9fa-ad9cbbcc6e30" >
		<ee:transform doc:name="lifecyclestage" doc:id="b8a6814e-c7cf-41a6-81ad-7d3721b3ee24" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="lifecyclestage" ><![CDATA[%dw 2.0
output application/json
---
vars.companyDetails.properties.lifecyclestage.value]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="d375491c-528b-4083-bd19-b1fc21b4ad55" >
			<when expression="#[(vars.lifecyclestage == 'customer')]" >
				<flow-ref doc:name="Flow Ref to create contact in sfdc " doc:id="4ef73af9-9f2f-4118-b8a1-b8049048955e" name="create-contact-in-sfdc" />
			</when>
			<otherwise >
				<ee:transform doc:name="SFDCtype" doc:id="2d791f70-20f9-4612-9e25-3c13b73ef7d5" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="SFDCtype" ><![CDATA[%dw 2.0
output application/json
---
vars.companyDetails.properties.'type'.value]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<choice doc:name="Choice" doc:id="9a06491c-f592-4a0b-8e2d-39b02927fb47" >
					<when expression="#[vars.SFDCtype == 'Customer' or vars.SFDCtype == 'Former Customer']" >
						<flow-ref doc:name="Flow Ref to create contact in sfdc " doc:id="27b49045-100e-47fb-9566-91c3f6e2bea1" name="create-contact-in-sfdc" />
					</when>
					<otherwise >
						<ee:transform doc:name="leadsource" doc:id="d972d931-564c-4166-84d5-e1dff6ff2d18" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="leadsource" ><![CDATA[%dw 2.0
output application/json
---
payload.properties.leadsource.value]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<choice doc:name="Choice" doc:id="261dfccf-c784-4b50-b045-b3a6e0e4e499" >
							<when expression="#[vars.leadsource == 'CMP']" >
								<flow-ref doc:name="Flow Ref to create contact in sfdc" doc:id="92e979d4-224b-4e7c-980d-45678cffb962" name="create-contact-in-sfdc" />
							</when>
							<otherwise >
								<flow-ref doc:name="Flow Ref to create lead in sfdc " doc:id="0e9b6d86-0515-4f7e-8cc6-6481a545a7c8" name="create-lead-in-sfdc" />
							</otherwise>
						</choice>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
	</flow>
	<flow name="salesforce-Ids-sync-backFlow-old" doc:id="818666d8-4872-4a78-96f4-cde7e64b5448" >
		<ee:transform doc:name="Transform Message" doc:id="202c0379-2c49-49da-b3f2-fd65043ca7b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "properties": payload pluck ( 
    { 
        "property": $$,
        "value": $
    }
  )
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="f9a1d5f8-91b8-4422-929d-4ceb3babcc16" url='#["https://api.hubapi.com/contacts/v1/contact/vid/" ++ vars.id.vid as String ++ "/profile"]' target="hubspotResponse" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer pat-na1-9b2d3e73-5a06-41a7-acf9-28afb4e45d8d"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="42564f1b-28fc-417e-a12a-52f132769fe2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.properties[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="choose-a-contact-from-more-than-one-sf-contacts" doc:id="3df7fe47-384c-424c-b251-ae2835c89e30" >
		<ee:transform doc:name="Set querytobeexecuted" doc:id="595c28a1-2209-4599-8532-12a650f32892" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="querytobeexecuted" ><![CDATA[%dw 2.0
output application/json
---
"Select Id, Lifecycle_Stage__c, LastModifiedDate from Contact where Id IN ('" ++ (vars.contactId.Id joinBy  ("','") ) ++  "')"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get SF contact details" doc:id="42ea41b5-8058-4c47-a656-4456c0125e3f" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" target="contactId">
			<http:query-params><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Set contactId" doc:id="f43c4e7c-8920-4c01-b98c-718a280acfc8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="contactId" ><![CDATA[%dw 2.0
output application/json
---
if(isEmpty(vars.contactId filter ($.Lifecycle_Stage__c ~= "Customer"))) (vars.contactId orderBy($.LastModifiedDate))[-1].Id else ((vars.contactId filter ($.Lifecycle_Stage__c ~= "Customer")) orderBy($.LastModifiedDate))[-1].Id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="71750e04-e963-43d7-9911-4dfc3b6c7bab" message="#[vars.contactId]"/>
	</sub-flow>
	<sub-flow name="choose-a-account-from-more-than-one-sf-accounts" doc:id="ee148006-f68b-4162-b130-49232832903f" >
		<ee:transform doc:name="Set querytobeexecuted" doc:id="5d3a3a1c-6d60-465a-805e-539e8ef23829" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="querytobeexecuted" ><![CDATA[%dw 2.0
output application/json
---
"Select Id, Lifecycle_Stage__c, LastModifiedDate from Account where Id IN ('" ++ (vars.accountId.Id joinBy  ("','") ) ++  "')"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get SF associated Account details" doc:id="7016b40c-ceb4-4b0e-afb4-6b391dd278b9" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/genericquery" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" target="accountId" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"querytobeexecuted" : vars.querytobeexecuted
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Set accountId" doc:id="58cdcaab-8e0e-421d-8fda-9349948137a1" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accountId" ><![CDATA[%dw 2.0
output application/json
---
if(isEmpty(vars.accountId filter ($.Lifecycle_Stage__c ~= "Customer"))) (vars.accountId orderBy($.LastModifiedDate))[-1].Id else ((vars.accountId filter ($.Lifecycle_Stage__c ~= "Customer")) orderBy($.LastModifiedDate))[-1].Id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8a537ead-91e7-4295-86c3-7da030913b4a" message="#[vars.accountId]"/>
	</sub-flow>
	<flow name="create-account-contact-leadFlow" doc:id="f6cca89a-5b44-409a-8ecc-9cc5ef89196f" >
		<ee:transform doc:name="Transform Message" doc:id="2fadbe13-ba7e-4a46-aa7f-14a205106102" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.id.associatedcompanyid]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Ref to company-to-accountFlow" doc:id="9ccf88ec-391c-46b4-be7e-304b001254fb" name="company-to-accountFlow"/>
	</flow>
</mule>
