src/main/mule/contact-lead/lead.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="create-lead-in-sfdc" doc:id="1d7476f6-c187-4808-b0e0-f8429ca50507" >
		<choice doc:name="is ownerId = Null ?" doc:id="cf110a17-1958-4200-b55d-ca2b3d9571f6">
			<when expression="#[!isEmpty(vars.id.ownerId)]">
				<set-variable value="#[vars.id.ownerId]" doc:name="ownerId" doc:id="13f95674-dbb7-4eae-b3db-8d915f129fe7" variableName="ownerId" />
				<flow-ref doc:name="Flow Ref to get-salesforce-ownerId-flow" doc:id="049ac893-133c-43e8-bd84-6469d91755f7" name="get-salesforce-ownerId-flow" target="hubspot_owner_id" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="ownerId is null" doc:id="83869e6e-bb47-423f-ac26-191f94fbc845" message='#["ownerId is null"]' />
			</otherwise>
		</choice>
		<ee:transform doc:name="Lead Mapping" doc:id="d51c8cee-7340-404d-8f26-d1519e158fca" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-create-lead-mapping.dwl" />
			
</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accountId" ><![CDATA[%dw 2.0
output application/java
---
vars.accountId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Create Lead" doc:id="0b8386a3-02da-4776-a65e-814f6b30a18a" path="/lead/create" config-ref="HTTP_Request_configuration_salesforce_sapi" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" sendCorrelationId="ALWAYS"/>
		<choice doc:name="If Successful ?" doc:id="15bce093-8d3d-402e-a84d-7d66ca61ca0d" >
			<when expression="#[payload.successful]">
				<ee:transform doc:name="Successful Response" doc:id="a61e32bd-4496-405c-82b5-8945e6fa1eaf">
			<ee:message>
						<ee:set-payload resource="dwl/contact/msg-create-lead-sync-back.dwl" />
			
</ee:message>
			<ee:variables />
		</ee:transform>
				<logger level="INFO" doc:name="Log Lead Created" doc:id="6d7490c2-214a-4b5d-b65a-cc217b1019d8" message="Lead  Created and LeadId is #[payload.sfdc_lead_id]" />
				<flow-ref doc:name="Flow Ref to salesforce-Ids-sync-backFlow" doc:id="42c199ca-e91a-42c7-ace2-8f0b9db07597" name="salesforce-Ids-sync-backFlow-old" />
			
</when>
			<otherwise >
				<ee:transform doc:name="Failed Response" doc:id="23a8b7da-cff2-4675-b25c-1145564706c9" >
					<ee:message >
						<ee:set-payload resource="dwl/contact/msg-create-lead-error-message.dwl" />
					
</ee:message>
				</ee:transform>
				<logger level="ERROR" doc:name="Log error message" doc:id="775a70a0-931d-4282-afae-0e36dd058231" message="#[payload]" />
			
</otherwise>
		</choice>
	</flow>
	<flow name="update-lead-in-sfdc" doc:id="2a2550fb-b958-4d97-a719-19ff7b012835" >
		<choice doc:name="is ownerId = Null ?" doc:id="92d06d11-3feb-434b-8937-5c8be25f2798">
			<when expression="#[!isEmpty(payload.properties.hubspot_owner_id.value)]">
				<set-variable value="#[payload.properties.hubspot_owner_id.value]" doc:name="ownerId" doc:id="be539737-c890-403a-a825-d5b7d2df01f1" variableName="ownerId" />
				<flow-ref doc:name="Flow Ref to get-salesforce-ownerId-flow" doc:id="a41511c1-dadd-41d9-8d93-bb73fe9001d8" name="get-salesforce-ownerId-flow" target="hubspot_owner_id" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="ownerId is null" doc:id="3b3ae0f8-f638-4e1e-98f4-f8e5a26cf50d" message='#["ownerId is null"]' />
			</otherwise>
		</choice>
		<ee:transform doc:name="Mappaing" doc:id="7ed50348-557b-484a-b746-852c2926af1d" >
			<ee:message >
				<ee:set-payload resource="dwl/contact/msg-update-lead-mapping.dwl" />
			
</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request to Update Lead" doc:id="dd140b3a-4028-4cf9-8504-a6369ea2cfc5" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/lead/update" responseTimeout="-1" sendCorrelationId="ALWAYS"/>
		<choice doc:name="If Successful ?" doc:id="a83842f5-08d6-4fcc-877c-26569a611067">
			<when expression="#[payload.successful]">
				<ee:transform doc:name="Successful Response" doc:id="69d8a54b-bc4c-4d60-bd34-2602e6a39151">
					<ee:message>
						<ee:set-payload resource="dwl/contact/msg-update-lead-sync-back.dwl" />
					</ee:message>
					<ee:variables />
				</ee:transform>
				<logger level="INFO" doc:name="Log Lead Updated in SF" doc:id="e5a0ca1e-cf7b-4e24-aca8-19eef95c2d15" message="Lead  Updated in SF #[payload.sfdc_lead_id] " />
				<flow-ref doc:name="Flow Ref to salesforce-Ids-sync-backFlow" doc:id="9b11f37f-1832-484d-8261-9dd67947f670" name="salesforce-Ids-sync-backFlow-old" />
			</when>
			<otherwise>
				<ee:transform doc:name="Failed Response" doc:id="1460b573-5b52-41f2-a4dc-423470e03778">
					<ee:message>
						<ee:set-payload resource="dwl/contact/msg-update-lead-error-message.dwl" />
					</ee:message>
				</ee:transform>
				<logger level="ERROR" doc:name="Log error message" doc:id="6faeec5a-034e-4438-beb2-fe590a4dd2a5" message="#[payload]" />
			</otherwise>
		</choice>
	
	</flow>
</mule>
